<form class="example-form">
    
  <mat-form-field class="example-full-width">
      <input  [(ngModel)] = "name" 
              name = "name" 
              matInput placeholder="First Name">
    </mat-form-field>
  
    
 <mat-form-field class="example-full-width">
    <input  [(ngModel)] = "email" 
            name = "email" 
            matInput placeholder="Email" >
            <div *ngIf = "error.code == 'auth/invalid-email'">{{ error }}</div>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" 
              name = "password" 
              matInput placeholder="Password">
    </mat-form-field>

  
    <button mat-raised-button 
            (click)="register()">Register</button>
  
  

</form>