<form class="example-form">
<mat-form-field class="example-full-width">
  <input  [(ngModel)] = "email" 
          name = "email" 
          matInput placeholder="Email" >
</mat-form-field>
<div *ngIf = "flag && error == 'auth/invalid-email'">{{ output }}</div>

<mat-form-field class="example-full-width">
    <input [(ngModel)] = "password" 
            name = "password" 
            matInput placeholder="Password">
  </mat-form-field>

  
  <button mat-raised-button 
  (click)="login()">Login</button>

</form>